body {
    background: #f4f4f4;
}

.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}
.navbar{
    background-color: #e9ecef;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-scroll-style{
    background-color: white;
    border-bottom: 1px solid #000;
    transition: 0.3s all;
}
